page-perfil {
    .profile-picture{
        border-radius: 100%;
        width: 130px;
        height: 130px;
    }
    .update-photo{
        text-decoration: none;
    }
    .profile-data{
        width: 100%;
    } 
}
